div {
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
}

div img {
    background: rgb(255, 255, 148);
    padding: 4px;
    border-radius: 8px;
    margin: 4px;
}

.directions {
    display: flex;
    align-items: center;
}

/* Add your properties to the selectors below. Do not change anything above this line */

.container1 {
    height: 200px;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.container2 {
  height: 200px;
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container3 {
    height: 200px;
     display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    
}

.container4 {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;

    
}

.container5 {
    height: 400px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container6 {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    
}