body {
    background-color: darkgray;
}

.container h3 {
    background-color: red;
}

.container p {
    background-color: lightgreen;
}

.container a {
    background-color: yellow;
}

.container {
    background-color: beige;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}